<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = 'ユーザー新規登録', scripts = ~{::script}, links = ~{::link})">
</head>
<body>
    <div class="container">
        <div th:if="${validationError}" th:each="error : ${validationError}">
            <label class="text-danger mb-3" th:text="${error}"></label>
        </div>
        <h1>ユーザー新規登録</h1>
        <form th:action="@{/user/create}" th:object="${userRequest}" th:method="post">
        
            <div class="form-group mb-3">
                <label>名前:<span class="text-danger">※必須項目です</span></label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="会津太郎">
            </div>
        
            <div class="form-group mb-3">
                <label>住所:</label>
                <input type="text" th:field="*{address}" class="form-control" placeholder="福島県会津若松市xx町oo-o">
            </div>
        
            <div class="form-group mb-3">
                <label>電話番号:<span class="text-danger">※必須項目です</span></label>
                <input type="text" th:field="*{phone}" class="form-control" placeholder="000-0000-0000">
            </div>
            <br />
            <div class="text-center mb-3">
                <a href="/user/list" class="btn btn-secondary">キャンセル</a>
                <button type="submit" class="btn btn-primary" id="btn-submit">　登録　</button>
            </div>
        </form>
    </div>
</body>
</html>